{% extends "core/base.html" %}


{% block title %}
ورود
{% endblock %}


{% block content %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    *<smal class="text-danger">{{ error }}</smal>
{% endfor %}
{% endif %}
{% for field in form %}
{{ field.label }}
{{ field }}
{% if field.errors %}
{% for error in field.errors %}
*<smal class="text-danger">{{ error }}</smal>
{% endfor %}
{% endif %}
{% endfor %}



    <input type="submit" class="btn btn-primary" value="ورود">

     </form>
     {% endblock %}